.bg {
      width: 100%;
      height: 1030px;
      background-image: url(../images/Home\ 3.png);
      padding-top: 390px;
}

.container {
      width: 800px;
      margin: 0 auto;
}

.bgc {
      width: 850px;
      height: 251px;
      border-radius: 20px;
      background-color: #FFFFFF;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
}

.bgc h1 {
      font-size: 26px;
      font-weight: 500;
      line-height: 34px;
      text-align: center;
      color: #000000;
      padding-top: 50px;
}

.bgc button {
      width: 187px;
      height: 58px;
      padding: 15px 40px 15px 40px;
      border-radius: 10px;
      border: none;
      cursor: pointer;
      background-color: #F78B3B;
      margin-left: 317px;
      margin-top: 25px;
      font-size: 24px;
      font-weight: 500;
      line-height: 28.44px;
      color: #FFFFFF;
}